<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.ConsoleAppender" name="CONSOLE">
        <param name="Threshold" value="INFO"/>
        <param name="Target" value="System.out"/>
        <param name="ImmediateFlush" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%7r] %6p - %30.30c - %m \n"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.RollingFileAppender" name="FILE">
        <param name="Threshold" value="INFO"/>
        <param name="ImmediateFlush" value="true"/>
        <param name="Append" value="false"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="100"/>
        <param name="file" value="${serverside.log.path}/serverside.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%7r] %6p - %30.30c - %m \n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="${serverside.log.level}"/>
            <!--<param name="LevelMax" value="FATAL "/> -->
        </filter>
    </appender>

    <root>
        <priority value="${serverside.log.level}"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</log4j:configuration>